<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eje_c.multilink.data">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application>
        <service android:name="com.eje_c.multilink.udp.UdpSocketService" />
    </application>
</manifest>
